In [2]:
# Load libraries
import numpy
from numpy import arange
from matplotlib import pyplot
from pandas import read_csv
from pandas import set_option
from pandas.plotting import scatter_matrix

In [18]:
filename = 'metmZtHTcheck.csv'
# choose names for columns
names = ['headers','MET','mZt','HT','mZt-HT','topflag','mass','pt','Njet','Nconst','Ntops','vrc_maxM_pre0']
dataset = read_csv(filename, delim_whitespace=False, names=names)
dataset=dataset.drop(['headers'], axis=1)
dataset.sort_values('vrc_maxM_pre0')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0
63009,163.2060,90.3380,309.229,-218.891,2,150.137,150.076,1,1,0,150.137
154884,44.2981,89.2452,713.556,-624.311,2,150.182,150.022,1,1,0,150.182
525164,24.1817,82.4793,762.395,-679.916,2,150.361,150.030,1,1,0,150.361
378129,75.2457,90.6609,605.536,-514.875,2,150.377,150.050,1,1,0,150.377
271564,239.8780,94.9116,310.461,-215.550,2,150.382,150.341,1,1,0,150.382
...,...,...,...,...,...,...,...,...,...,...,...
714079,128.7390,2304.0300,4627.870,-2323.850,2,863.311,857.534,3,1,3,2119.680
714078,128.7390,2304.0300,4627.870,-2323.850,2,1621.050,1612.820,3,1,3,2119.680
714077,128.7390,2304.0300,4627.870,-2323.850,2,2119.680,2095.700,3,1,3,2119.680
363660,222.3220,3631.4000,3804.130,-172.732,2,2194.260,2190.940,2,1,2,2194.260
363661,222.3220,3631.4000,3804.130,-172.732,2,1461.560,1455.500,2,1,2,2194.260

In [27]:
#failures
dataset[(dataset['MET']>=dataset['mZt-HT']) ].sort_values('vrc_maxM_pre0').sort_values('Ntops')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0
63009,163.2060,90.3380,309.229,-218.891,2,150.137,150.076,1,1,0,150.137
245942,37.6948,94.9386,367.334,-272.396,2,254.125,252.475,1,1,0,254.125
333491,169.8540,91.4608,645.828,-554.367,2,254.134,253.679,2,1,0,254.134
333492,169.8540,91.4608,645.828,-554.367,2,177.979,166.248,2,2,0,254.134
446848,22.7074,95.7779,388.089,-292.311,2,254.137,253.441,1,1,0,254.137
...,...,...,...,...,...,...,...,...,...,...,...
452629,59.8893,1423.7000,2367.640,-943.940,2,265.057,255.816,5,2,5,871.294
452628,59.8893,1423.7000,2367.640,-943.940,2,308.811,269.271,5,3,5,871.294
585436,123.0800,2327.0300,2541.070,-214.034,2,842.100,840.408,5,1,5,842.100
585438,123.0800,2327.0300,2541.070,-214.034,2,354.859,343.734,5,2,5,842.100
509555,132.2470,1294.6700,1871.230,-576.562,2,226.082,201.679,5,2,5,763.000

In [28]:
#failures
dataset[(dataset['MET']>=dataset['mZt-HT']) & (dataset['vrc_maxM_pre0']<140.)]

Empty DataFrame
Columns: [MET, mZt, HT, mZt-HT, topflag, mass, pt, Njet, Nconst, Ntops, vrc_maxM_pre0]
Index: []

In [29]:
#survivors
dataset[(dataset['MET']<dataset['mZt-HT'])].sort_values('vrc_maxM_pre0').sort_values('Ntops')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0
540951,189.6500,611.029,404.191,206.8380,2,204.947,200.523,2,2,1,204.947
212271,74.6279,981.448,713.765,267.6840,2,388.264,362.746,1,2,1,388.264
281773,32.8537,924.306,486.635,437.6710,2,388.265,351.069,1,3,1,388.265
716139,34.4514,869.008,388.949,480.0590,2,388.272,347.748,1,3,1,388.272
52496,53.6676,1196.520,837.439,359.0820,2,388.273,366.497,1,3,1,388.273
...,...,...,...,...,...,...,...,...,...,...,...
424695,43.5136,1565.520,1420.370,145.1500,2,337.030,318.950,4,3,4,523.680
424694,43.5136,1565.520,1420.370,145.1500,2,523.680,478.467,4,3,4,523.680
424696,43.5136,1565.520,1420.370,145.1500,2,334.613,312.226,4,3,4,523.680
174768,46.6359,1343.490,1241.250,102.2420,2,237.151,214.854,4,2,4,520.138
205594,36.6734,2747.430,2647.960,99.4668,2,772.202,769.138,4,1,4,945.470

In [30]:
#fails on meff cut, survives Njets>=1
dataset[(dataset['MET']>=dataset['mZt-HT']) & (dataset['Njet']>0)].sort_values('vrc_maxM_pre0')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0
63009,163.2060,90.3380,309.229,-218.891,2,150.137,150.076,1,1,0,150.137
154884,44.2981,89.2452,713.556,-624.311,2,150.182,150.022,1,1,0,150.182
525164,24.1817,82.4793,762.395,-679.916,2,150.361,150.030,1,1,0,150.361
378129,75.2457,90.6609,605.536,-514.875,2,150.377,150.050,1,1,0,150.377
271564,239.8780,94.9116,310.461,-215.550,2,150.382,150.341,1,1,0,150.382
...,...,...,...,...,...,...,...,...,...,...,...
714077,128.7390,2304.0300,4627.870,-2323.850,2,2119.680,2095.700,3,1,3,2119.680
714078,128.7390,2304.0300,4627.870,-2323.850,2,1621.050,1612.820,3,1,3,2119.680
714079,128.7390,2304.0300,4627.870,-2323.850,2,863.311,857.534,3,1,3,2119.680
363661,222.3220,3631.4000,3804.130,-172.732,2,1461.560,1455.500,2,1,2,2194.260
363660,222.3220,3631.4000,3804.130,-172.732,2,2194.260,2190.940,2,1,2,2194.260

In [32]:
#RESULT for ttbarV: There is no vRC jet leading mass <140 GeV events at all.

In [33]:
dataset[(dataset['Njet']>0) & (dataset['MET']<dataset['mZt-HT'])].sort_values('Ntops')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0
0,111.2790,908.318,344.366,563.9520,2,303.063,291.842,1,2,1,303.063
476122,34.5559,781.816,742.442,39.3739,2,397.865,358.436,2,3,1,397.865
476123,34.5559,781.816,742.442,39.3739,2,168.164,160.279,2,2,1,397.865
476128,63.2739,648.243,504.467,143.7760,2,271.854,260.856,1,2,1,271.854
476129,45.5610,563.167,492.612,70.5549,2,218.087,201.359,1,2,1,218.087
...,...,...,...,...,...,...,...,...,...,...,...
164601,15.6124,2125.530,1944.820,180.7160,2,953.119,952.583,4,1,4,953.119
365362,146.5360,3349.260,2787.570,561.6900,2,270.954,261.011,4,2,4,1276.690
317084,68.8778,2031.470,1788.350,243.1280,2,688.570,680.650,4,2,4,688.570
317086,68.8778,2031.470,1788.350,243.1280,2,302.253,279.679,4,2,4,688.570
365361,146.5360,3349.260,2787.570,561.6900,2,312.968,304.060,4,2,4,1276.690

In [34]:
#Confirms previous cell: Survivors are all top events

In [35]:
filename2 = 'zjetsMetmZtHTcheck3.csv'
# choose names for columns
names2 = ['headers','MET','mZt','HT','mZt-HT','topflag','mass','pt','Njet','Nconst','Ntops','vrc_maxM_pre0','vrc_maxM']
dataset2 = read_csv(filename2, delim_whitespace=False, names=names2)
dataset2=dataset2.drop(['headers'], axis=1)
dataset2.sort_values('vrc_maxM_pre0')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
238,35.5882,85.0493,287.738,-202.688,2,151.993,151.162,1,1,0,151.993,0.000
86,116.1980,90.3558,276.316,-185.960,2,152.902,150.560,1,1,0,152.902,0.000
403,35.3467,95.6162,338.169,-242.553,2,152.928,150.174,1,1,0,152.928,0.000
557,30.8422,87.5200,310.701,-223.181,2,153.656,150.646,1,1,0,153.656,0.000
501,42.1470,93.7951,297.870,-204.075,2,155.291,153.093,1,1,0,155.291,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
310,10.9335,1406.0600,974.422,431.636,2,175.609,174.867,2,1,1,698.317,698.317
309,10.9335,1406.0600,974.422,431.636,2,698.317,682.419,2,2,1,698.317,698.317
12,78.5578,2524.9000,1150.340,1374.570,2,1051.260,1048.090,1,1,1,1051.260,1051.260
603,66.5980,2434.1100,2076.180,357.936,2,689.575,687.765,2,1,1,1318.420,1318.420
602,66.5980,2434.1100,2076.180,357.936,2,1318.420,1305.300,2,1,1,1318.420,1318.420

In [36]:
#fails on m_eff, satisfies Njet>=1
dataset2[(dataset2['MET']>=dataset2['mZt-HT']) & (dataset2['Njet']>0)].sort_values('vrc_maxM_pre0')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
238,35.58820,85.0493,287.738,-202.6880,2,151.993,151.162,1,1,0,151.993,0.000
86,116.19800,90.3558,276.316,-185.9600,2,152.902,150.560,1,1,0,152.902,0.000
403,35.34670,95.6162,338.169,-242.5530,2,152.928,150.174,1,1,0,152.928,0.000
557,30.84220,87.5200,310.701,-223.1810,2,153.656,150.646,1,1,0,153.656,0.000
501,42.14700,93.7951,297.870,-204.0750,2,155.291,153.093,1,1,0,155.291,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
244,25.05480,884.5050,871.667,12.8384,2,338.942,321.911,2,2,2,498.294,498.294
19,69.33340,398.8370,823.835,-424.9970,2,270.457,240.353,2,4,1,563.745,563.745
18,69.33340,398.8370,823.835,-424.9970,2,563.745,562.976,2,1,1,563.745,563.745
298,1.15086,90.0733,1019.020,-928.9450,2,609.545,606.799,2,1,0,609.545,609.545
299,1.15086,90.0733,1019.020,-928.9450,2,188.123,187.106,2,1,0,609.545,609.545

In [37]:
#fails on m_eff, satisfies Njet>=1
dataset2[(dataset2['MET']>=dataset2['mZt-HT']) & (dataset2['Njet']>0)].sort_values('vrc_maxM')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
538,68.27950,88.5719,303.142,-214.5700,2,157.320,155.606,1,1,0,157.320,0.000
501,42.14700,93.7951,297.870,-204.0750,2,155.291,153.093,1,1,0,155.291,0.000
130,26.33050,87.8145,341.777,-253.9620,2,192.381,184.005,1,2,0,192.381,0.000
500,56.56030,84.6918,304.700,-220.0080,2,195.171,194.181,1,1,0,195.171,0.000
496,28.22160,93.2806,253.171,-159.8910,2,171.847,170.431,1,1,0,171.847,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
244,25.05480,884.5050,871.667,12.8384,2,338.942,321.911,2,2,2,498.294,498.294
19,69.33340,398.8370,823.835,-424.9970,2,270.457,240.353,2,4,1,563.745,563.745
18,69.33340,398.8370,823.835,-424.9970,2,563.745,562.976,2,1,1,563.745,563.745
298,1.15086,90.0733,1019.020,-928.9450,2,609.545,606.799,2,1,0,609.545,609.545
299,1.15086,90.0733,1019.020,-928.9450,2,188.123,187.106,2,1,0,609.545,609.545

In [38]:
dataset2[(dataset2['Njet']>0) & (dataset2['MET']<dataset2['mZt-HT'])].sort_values('Ntops').sort_values('vrc_maxM')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
452,36.8076,532.085,310.144,221.941,2,210.119,205.409,1,2,1,210.119,210.119
560,80.4785,700.776,324.813,375.964,2,212.628,203.236,1,2,1,212.628,212.628
384,55.6272,580.520,298.764,281.756,2,214.561,200.511,1,2,1,214.561,214.561
167,50.7443,522.938,301.045,221.893,2,218.990,204.566,1,2,1,218.990,218.990
638,21.5100,598.867,368.410,230.457,2,219.027,209.941,1,2,1,219.027,219.027
...,...,...,...,...,...,...,...,...,...,...,...,...
309,10.9335,1406.060,974.422,431.636,2,698.317,682.419,2,2,1,698.317,698.317
310,10.9335,1406.060,974.422,431.636,2,175.609,174.867,2,1,1,698.317,698.317
12,78.5578,2524.900,1150.340,1374.570,2,1051.260,1048.090,1,1,1,1051.260,1051.260
603,66.5980,2434.110,2076.180,357.936,2,689.575,687.765,2,1,1,1318.420,1318.420
602,66.5980,2434.110,2076.180,357.936,2,1318.420,1305.300,2,1,1,1318.420,1318.420

In [39]:
#No non-top regions, no <140 GeV events after m_eff cut

In [54]:
dataset2[(dataset2['MET']>=dataset2['mZt-HT'])].sort_values('Njet').sort_values('Ntops').sort_values('vrc_maxM_pre0')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
238,35.58820,85.0493,287.738,-202.6880,2,151.993,151.162,1,1,0,151.993,0.000
86,116.19800,90.3558,276.316,-185.9600,2,152.902,150.560,1,1,0,152.902,0.000
403,35.34670,95.6162,338.169,-242.5530,2,152.928,150.174,1,1,0,152.928,0.000
557,30.84220,87.5200,310.701,-223.1810,2,153.656,150.646,1,1,0,153.656,0.000
501,42.14700,93.7951,297.870,-204.0750,2,155.291,153.093,1,1,0,155.291,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
244,25.05480,884.5050,871.667,12.8384,2,338.942,321.911,2,2,2,498.294,498.294
18,69.33340,398.8370,823.835,-424.9970,2,563.745,562.976,2,1,1,563.745,563.745
19,69.33340,398.8370,823.835,-424.9970,2,270.457,240.353,2,4,1,563.745,563.745
299,1.15086,90.0733,1019.020,-928.9450,2,188.123,187.106,2,1,0,609.545,609.545
298,1.15086,90.0733,1019.020,-928.9450,2,609.545,606.799,2,1,0,609.545,609.545

In [42]:
dataset2[(dataset2['MET']<dataset2['mZt-HT'])].sort_values('Njet').sort_values('Ntops').sort_values('vrc_maxM')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
452,36.8076,532.085,310.144,221.941,2,210.119,205.409,1,2,1,210.119,210.119
560,80.4785,700.776,324.813,375.964,2,212.628,203.236,1,2,1,212.628,212.628
384,55.6272,580.520,298.764,281.756,2,214.561,200.511,1,2,1,214.561,214.561
167,50.7443,522.938,301.045,221.893,2,218.990,204.566,1,2,1,218.990,218.990
638,21.5100,598.867,368.410,230.457,2,219.027,209.941,1,2,1,219.027,219.027
...,...,...,...,...,...,...,...,...,...,...,...,...
309,10.9335,1406.060,974.422,431.636,2,698.317,682.419,2,2,1,698.317,698.317
310,10.9335,1406.060,974.422,431.636,2,175.609,174.867,2,1,1,698.317,698.317
12,78.5578,2524.900,1150.340,1374.570,2,1051.260,1048.090,1,1,1,1051.260,1051.260
602,66.5980,2434.110,2076.180,357.936,2,1318.420,1305.300,2,1,1,1318.420,1318.420
603,66.5980,2434.110,2076.180,357.936,2,689.575,687.765,2,1,1,1318.420,1318.420

In [43]:
dataset2[(dataset2['Njet']>0)].sort_values('vrc_maxM')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,Njet,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
241,146.0820,87.1287,224.547,-137.418,2,173.420,172.446,1,1,0,173.420,0.000
399,24.0385,92.0718,349.556,-257.484,2,192.077,190.913,1,1,0,192.077,0.000
95,20.7007,89.7381,304.109,-214.370,2,195.407,184.256,1,2,0,195.407,0.000
517,20.2775,96.2110,288.031,-191.820,2,196.841,196.537,1,1,0,196.841,0.000
518,70.5759,87.1334,309.832,-222.699,2,195.756,194.653,1,1,0,195.756,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...
310,10.9335,1406.0600,974.422,431.636,2,175.609,174.867,2,1,1,698.317,698.317
309,10.9335,1406.0600,974.422,431.636,2,698.317,682.419,2,2,1,698.317,698.317
12,78.5578,2524.9000,1150.340,1374.570,2,1051.260,1048.090,1,1,1,1051.260,1051.260
603,66.5980,2434.1100,2076.180,357.936,2,689.575,687.765,2,1,1,1318.420,1318.420
602,66.5980,2434.1100,2076.180,357.936,2,1318.420,1305.300,2,1,1,1318.420,1318.420

In [53]:
dataset2[(dataset2['vrc_maxM_pre0']<140)].sort_values('vrc_maxM_pre0')

Empty DataFrame
Columns: [MET, mZt, HT, mZt-HT, topflag, mass, pt, Njet, Nconst, Ntops, vrc_maxM_pre0, vrc_maxM]
Index: []

In [56]:
filename3 = 'zjetsMetmZtHTcheck4.csv'
# choose names for columns
names3 = ['headers','MET','mZt','HT','mZt-HT','topflag','mass','pt','NjetFromVectorSize','Njet_goodjets','Nconst','Ntops','vrc_maxM_pre0','vrc_maxM']
dataset3 = read_csv(filename3, delim_whitespace=False, names=names3)
dataset3=dataset3.drop(['headers'], axis=1)
dataset3.sort_values('vrc_maxM_pre0').sort_values('vrc_maxM')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,NjetFromVectorSize,Njet_goodjets,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
238,35.5882,85.0493,287.738,-202.688,2,151.993,151.162,1,0,1,0,151.993,0.000
500,56.5603,84.6918,304.700,-220.008,2,195.171,194.181,1,0,1,0,195.171,0.000
478,87.5559,92.5846,271.946,-179.361,2,195.069,194.648,1,0,1,0,195.069,0.000
187,36.4990,95.1381,316.216,-221.078,2,194.682,193.579,1,0,1,0,194.682,0.000
300,22.8779,89.3393,304.152,-214.813,2,194.570,191.157,1,0,1,0,194.570,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,10.9335,1406.0600,974.422,431.636,2,698.317,682.419,2,1,2,1,698.317,698.317
310,10.9335,1406.0600,974.422,431.636,2,175.609,174.867,2,1,1,1,698.317,698.317
12,78.5578,2524.9000,1150.340,1374.570,2,1051.260,1048.090,1,1,1,1,1051.260,1051.260
603,66.5980,2434.1100,2076.180,357.936,2,689.575,687.765,2,2,1,1,1318.420,1318.420
602,66.5980,2434.1100,2076.180,357.936,2,1318.420,1305.300,2,2,1,1,1318.420,1318.420

In [61]:
dataset3[(dataset3['Njet_goodjets']>=1)].sort_values('vrc_maxM')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,NjetFromVectorSize,Njet_goodjets,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
361,19.8601,83.1712,425.937,-342.766,2,200.694,200.331,1,1,1,0,200.694,200.694
489,82.9863,91.0416,545.780,-454.739,2,200.943,185.281,2,1,2,0,201.594,201.594
488,82.9863,91.0416,545.780,-454.739,2,201.594,201.045,2,1,1,0,201.594,201.594
690,55.3048,91.6503,292.093,-200.443,2,202.193,200.057,1,1,1,0,202.193,202.193
269,42.7385,90.8637,401.749,-310.885,2,202.218,200.781,1,1,1,0,202.218,202.218
...,...,...,...,...,...,...,...,...,...,...,...,...,...
309,10.9335,1406.0600,974.422,431.636,2,698.317,682.419,2,1,2,1,698.317,698.317
310,10.9335,1406.0600,974.422,431.636,2,175.609,174.867,2,1,1,1,698.317,698.317
12,78.5578,2524.9000,1150.340,1374.570,2,1051.260,1048.090,1,1,1,1,1051.260,1051.260
603,66.5980,2434.1100,2076.180,357.936,2,689.575,687.765,2,2,1,1,1318.420,1318.420
602,66.5980,2434.1100,2076.180,357.936,2,1318.420,1305.300,2,2,1,1,1318.420,1318.420

In [62]:
dataset3[(dataset3['NjetFromVectorSize']>=1)].sort_values('vrc_maxM')

,MET,mZt,HT,mZt-HT,topflag,mass,pt,NjetFromVectorSize,Njet_goodjets,Nconst,Ntops,vrc_maxM_pre0,vrc_maxM
241,146.0820,87.1287,224.547,-137.418,2,173.420,172.446,1,0,1,0,173.420,0.000
399,24.0385,92.0718,349.556,-257.484,2,192.077,190.913,1,0,1,0,192.077,0.000
95,20.7007,89.7381,304.109,-214.370,2,195.407,184.256,1,0,2,0,195.407,0.000
517,20.2775,96.2110,288.031,-191.820,2,196.841,196.537,1,0,1,0,196.841,0.000
518,70.5759,87.1334,309.832,-222.699,2,195.756,194.653,1,0,1,0,195.756,0.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
310,10.9335,1406.0600,974.422,431.636,2,175.609,174.867,2,1,1,1,698.317,698.317
309,10.9335,1406.0600,974.422,431.636,2,698.317,682.419,2,1,2,1,698.317,698.317
12,78.5578,2524.9000,1150.340,1374.570,2,1051.260,1048.090,1,1,1,1,1051.260,1051.260
603,66.5980,2434.1100,2076.180,357.936,2,689.575,687.765,2,2,1,1,1318.420,1318.420
602,66.5980,2434.1100,2076.180,357.936,2,1318.420,1305.300,2,2,1,1,1318.420,1318.420